<%- include('partials/header') %>
<%- include('partials/navbar-index') %>

<div class="wrapper">
  <h1>The Stonks Tracker App</h1>
</div>

<div class="wrapper">
  <small>Track all your STONKS in one place</small>
</div>

<div class="wrapper">
  <img src="https://images.pexels.com/photos/534216/pexels-photo-534216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" style="width: 800px;">  
</div>

<%- include('partials/footer') %>