<%- include('partials/login-header') %>

<main class="wrapper">
  <div class="loginContainer">
    <form action="/signup" method="POST">
      <fieldset>
        <legend><h1>REGISTER</h1></legend>

        <input
          type="text"
          class="form-control"
          id="userName"
          name="userName"
          placeholder="Username"
        />

        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
        />
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm Password"
        />

        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/login">Already have an account? Login here.</a>
      </fieldset>
    </form>
  </div>
</main>
<%- include('partials/login-footer') %>
