<%- include('partials/header') %> 

  <body>
    <a href="/">back</a>
    <br />

    <!-- Overview -->
    <%- include('components/overview') %> 

    <!-- News -->
    <%- include('components/news') %> 


  </body>
</html>
